.logo {
    font-family: impact, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: white;
     width: 12%;
    border-style: solid;
    border-radius: 40px;
    text-align: center;
}
.casts {
   display: flex;
  gap: 10px; 
}
#casts img{
width: 300px;
height: 250px;
border-radius: 30px;
transition: transform 0.3s ease;
}

a {
    color: white;
}
#body {
    background-color: rgb(32, 32, 32);
}
#casts img:hover {
    transform: scale(1.1);
}
a:hover {
    color: blue;
}
#home {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:  rgb(117, 117, 117);
    border-bottom-color:  rgb(117, 117, 117);
}
#sec_lists {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:  rgb(117, 117, 117);
    border-bottom-color:  rgb(117, 117, 117);
}
#casts {
      border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:  rgb(117, 117, 117);
    border-bottom-color:  rgb(117, 117, 117);
}
#dcasts {
          border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:  rgb(117, 117, 117);
    border-bottom-color:  rgb(117, 117, 117);
}

